<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS index</title>
</head>
<body>
    <h2>Hello I am an index file!</h2>
    <h3><%= name %> created me</h3>
    <% for(let i=0; i<length; i++) { %>
        <p>I will repeat this 4 times</p>
    <% } %>

</body>
</html>